body{
  height:100vw;
  width:100vw;
  background-color: black;
  margin:0;
  overflow:hidden;
}

.title-card{
  color:white;
  margin-top: 10%;
  margin-left: 20%
}

.title-card > h1 {
  margin:0;
}

.title-card > h3{
  margin:5px 0 5px 0;
}

.image-slider{
  display:flex;
  gap:4vmin;
}